.icon{
    display: none;
    cursor: grab;
}

@media screen and (max-width: 800px) {
.icon {
    padding: 0.5em;
    background-color: #120E0F;
    float: right;
    display: flex;
    flex-direction: column;
    margin-left: 100%;
    position: absolute;
    top: 1.0em;
    right: 1em;
}

.icon hr {
    margin: 0.1em;
    width: 2em;
    height: 0.15em;
    color: #D2B681;
    background-color: #D2B681;
}
}