.form {
   width: 18em;
   font-size: large;
   font-family: Prata;
   padding: 0.5em;
   margin: 0.3em;
   background-color: #120E0F;
   color: #D2B681;
   border: 0;
}

.item {
   font-family: Prata;
}