.paragraph{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 1em 1em;
}

.title{
    padding-top: 3%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.title img{
    margin: 0em 1em 0em 1em;
    height: auto;
}


@media screen and (max-width: 600px){
    .title img{
        display: none;
    }
}