a {
  text-decoration: none;
}

body {
  background-image: url("/backgroundback.jpg");
  background-repeat: no-repeat;
  padding: 0;
  margin: 0;
  height: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

html {
  height: 100%;
}

footer {
  background-color: #120E0F;
  width: 100%;
  color: #D3B69B;
  min-height: 5em;
  display: flex;
  align-items: center;
}

footer span {
  display: block;
  margin-left: 5%;
}

header {
  background-color: #120E0F;
  width: 100%;
}

.container {
  background-color: #D3B69B;
  margin: auto;
  width: 85%;
  min-height: 100%;
  flex: 1 0 auto;
}


@media screen and (max-width: 600px) {
  .container {
    width: 100%;
  }
}